<% layout("/layouts/boilerplate") %>
<body>
    <form method="post" action="/listings/<%= showListing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="row">
            <div class="col-8 offset-2 mt-3">
                
                <h3>Edit Your Listings</h3>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=showListing.title %> "class="form-control" required>
            <div class="valid-feedback">Looks good</div>
        </div>
       
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%=showListing.description %></textarea>
            <div class="invalid-feedback">Please enter description</div>
        </div>
        
        <div class="mb-3"></div>
        Original Image <br>
       <img src="<%=originalImageUrl %>" alt="Original-Image">
        
        <div class="mb-3"></div>
        <label for="image" class="form-label">Upload a new image</label>
        <input type="file" name="listing[image]" class="form-control">
        <div class="row">
        
        <div class="mb-3 mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input type="number" name="listing[price]" value="<%=showListing.price %>" class="form-control" required>
            <div class="invalid-feedback">Please enter a price</div>
        </div>
        
        
        <div class="mb-3 mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=showListing.country %>" class="form-control" required>
            <div class="invalid-feedback">Please enter a country</div>
        </div>
    </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=showListing.location %>" class="form-control" required>
            <div class="invalid-feedback">Please enter a location</div>
        </div>
    

        <button class="btn add-btn mb-3">Save Edit</button>
    </form>
</div>
</div>
    
</body>
